{% extends 'base.html.twig' %}

{% block title %}Energy fit Academy : Bienvenue à bord!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
        <div class="bodyHome">
            <div class="container text-center mt-5">
                <img src="{{ asset('build/images/brand.png') }}" alt="brand" style="width: 25rem ; height: 23rem">
            </div>
            <h1 class="text-center my-5">
                Bienvenue à bord
            </h1>
            <div class="home m-3">
                <a title="Aller sur la page partenaires" href="/client" class="btn btn-success d-flex align-items-center justify-content-center btnHome">
                    <h2 class="me-2">
                        Partenaire
                    </h2>
                    <i class="bi bi-person-rolodex" style="font-size: 3rem"></i>
                </a>
                <a title="Aller sur la page ajouter partenaire" href="/client/add" class="btn btn-success d-flex align-items-center justify-content-center btnHome">
                    <h2 class="me-2">
                        Ajouter partenaire
                    </h2>
                    <i class="bi bi-plus-circle" style="font-size: 3rem"></i>
                </a>
                <a title="Aller sur la page structures" href="/client" class="btn btn-success d-flex align-items-center justify-content-center btnHome">
                    <h2 class="me-2">
                        Structures
                    </h2>
                    <i class="bi bi-house-fill" style="font-size: 3rem"></i>
                </a>
            </div>
        </div>
    {% include 'components/_footer.html.twig' %}
{% endblock %}
