{% extends 'base.html.twig' %}

{% block title %}Energy fit Academy : Bienvenue à bord!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <div>
        <a href="/client" class="btn btn-success btnMenu">Partenaire</a>
        <a href="/client/add" class="btn btn-success btnMenu">Ajouter partenaire</a>
        <a href="/client" class="btn btn-success btnMenu">Partenaire</a>
        <a href="/client" class="btn btn-success btnMenu">Partenaire</a>
    </div>
    {% include 'components/_footer.html.twig' %}
{% endblock %}
