<h3 class="text-center text-secondary mb-3">Structures du partenaire</h3>
<div class="container text-center">
    <div class="text-center m-4 d-flex align-items-center justify-content-center" id="filtrageBranch">
        <div class="form-check mx-2">
            <input class="form-check-input" type="radio" name="{{ client.id }}" id="branchTous"checked  >
            <label class="form-check-label" for="flexRadioDefault1">
                Tous
            </label>
        </div>
        <div class="form-check mx-2" id="formActif">
            <input class="form-check-input" type="radio" name="{{ client.id }}" id="branchActifs"  }>
            <label class="form-check-label" for="flexRadioDefault2">
                Actifs
            </label>
        </div>
        <div class="form-check mx-2">
            <input class="form-check-input" type="radio" name="{{ client.id }}" id="branchInactifs" >
            <label class="form-check-label" for="flexRadioDefault2">
                Inactifs
            </label>
        </div>
    </div>
</div>
<div class="{{ client.id }}" id="branchCard">
  {% include 'components/branch/_ajaxBranchContent.html.twig' %}
</div>
