<!-- Modal -->
<div class="modal fade" id="activeBranch{{ branche.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% if branche.isActive() %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Désactivation de la structure</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container text-center">
                    Vous êtes sur le point de désactiver la structure
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger">Valider</button>
                </div>
            {% else %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activation de la structure</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container text-center">
                    Vous êtes sur le point d'activer la structure
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button  type="button" class="btn btn-success">Valider</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>