{{ form_start(form) }}
    {{ form_widget(form.adress , {'attr': {'placeholder': 'Ajouter une adresse de structure','class':'form-control mb-2'}}) }}
    <button name ="{{ client.id }}" class="btn btn-primary" id="addBranch">Valider</button>
{{ form_end(form) }}