<!-- Modal -->
<div class="modal fade" id="exampleModal{{client.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation {% if client.active %}de désactivation {% else %} d'activation {% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point {% if client.active %} de désactiver {% else %} d'activer {% endif %}l e client
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn {% if client.active %}btn-danger{% else %}btn-success{% endif %}">Valider</button>
            </div>
        </div>
    </div>
</div>