{% extends 'base.html.twig' %}
{% block body %}
    {% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
        <container>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <center>
                        <button href="#">Se connecter</button>
                    </center>
                </columns>
            </row>
        </container>
    {% endapply %}
{% endblock %}
