<div class="showPermissClient">
    <span class="ms-3">Permissions globales</span>
    <a id="btnPermissionClient" class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i onclick="changeIcone(this)" class="bi bi-plus-circle-dotted" style="font-size: 1.5rem"></i>
        <script>
            const changeIcone = (x)=>{
                x.classList.toggle("bi-plus-circle-dotted");
                x.classList.toggle('bi-dash-circle-dotted')
            }
        </script>
    </a>
</div>
<div class="collapse mx-3 my-3" id="collapseExample">
    <div id="permissionCollaps" class="card card-body permissionsGlobales">
        <div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isReadResa() %} checked {% endif %}>
                <label class="form-check-label" >Lire les réservations</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isEditResa() %} checked {% endif %}>
                <label data-bs-toggle="modal" data-bs-target="#permissionsModal" class="form-check-label" >Modifier les réservations</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isRemoveResa() %} checked {% endif %}>
                <label class="form-check-label" >Supprimer les réservations</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isReadPayment() %} checked {% endif %}>
                <label class="form-check-label" >Lire les paiements</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isEditPayment() %} checked {% endif %}>
                <label class="form-check-label" >Modifier les paiements</label>
            </div>
        </div>
        <div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isManageDrink() %} checked {% endif %}>
                <label class="form-check-label" >Gérer les boissons</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isAddSub() %} checked {% endif %}>
                <label class="form-check-label">Inscrire les abonnés</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isEditSub() %} checked {% endif %}>
                <label class="form-check-label" >Modifier les abonnés</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isRemoveSub() %} checked {% endif %}>
                <label disabled class="form-check-label" >Supprimer les abonnés</label>
            </div>
            <div class="form-check form-switch">
                <input disabled class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        {% if permissions.isManageSchedules() %} checked {% endif %}>
                <label class="form-check-label" >Gérer les horaires</label>
            </div>
        </div>
    </div>
</div>
<hr class="my-2 container mb-4">