@font-face {
  font-family: 'bahan';
  src: url("../fonts/bahanchrif_najib.ttf");
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'bahan';
  display: grid;
  grid-template-rows: 6vh 5fr 6vh;
}
.login_form{
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.ul-connexion{
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .ul-connexion{
    margin-top: 0;
  }
}