@font-face {
  font-family: 'bahan';
  src: url("../fonts/bahanchrif_najib.ttf");
}
html,body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'bahan';
}
.login_form{
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
}
.ul-connexion{
  margin-top: 1.5rem;
}

#client_permissions{
  display: grid;
  grid-template-columns: 1fr 16fr;
}

@media (min-width: 992px) {
  .ul-connexion{
    margin-top: 0;
  }

  #client_permissions{
    display: grid;
    grid-template-columns: 1fr 16fr 1fr 16fr;
  }
}