{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau client!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <h1 class="text-center text-dark mt-4">Ajouter un nouveau client</h1>
    {% include 'components/client/_form.html.twig' %}
{% endblock %}
