{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Ajouter un partenaire!{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <section>
        <div class="d-flex align-items-center bread" style="height: 3rem">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'
                width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);
                " aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 mx-3">
                    <li title="Accueil" class="breadcrumb-item"><a href="/" class="text-dark text-decoration-none">Accueil</a></li>
                    <li title="Partenaires" class="breadcrumb-item"><a href="/client" class="text-dark text-decoration-none">Partenaires</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                </ol>
            </nav>
        </div>
        <h1 class="text-center text-secondary my-4">Ajouter un nouveau partenaire</h1>
        {% include 'components/client/_flashes.html.twig' %}
        {% include 'components/client/_form.html.twig' %}
    </section>
    {% include 'components/_footer.html.twig' %}
{% endblock %}
