{% extends 'base.html.twig' %}

{% block title %}Au revoir!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="text-secondary text-center m-5">Vous êtes bien déconnecté</h1>
    <div class="d-flex justify-content-center text-center">
        <img class="list-group border border-secondary" width="50%" height="80%" src="{{ asset('build/images/logout.jpg') }}">
    </div>
    <div class="container text-center mt-4">
        <a href="/login" class="btn btn-primary btn-lg">Connexion</a>
    </div>
</div>
{% endblock %}
